@charset "EUC-KR";

:root {
   --color-: #ef4551;
      --animation-duration: 300ms;
       --color-white: #ffffff;
         --color-yellow: #fff7d1;
           --font-large: 48px;
           font-family: 'BMHANNAPro';
}

/* css */
 th {
 text-align: center;
 }

/* Navbar */
.tab-content {
   width : 100%
}

.container{
   width:100%;
   margin:0;
   padding:0;
}

.nav flex-column{
   width:100%;
   margin:0;
   padding:0;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background-color: var(--color-);
    top: 0;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
    color: white;
}

.navbar__menu {
    display: flex;
}

.navbar__menu__item {
    padding: 8px 12px;
    margin: 0 4px;
    color: var(--color-white);
    cursor: pointer;
}

.navbar__menu__item.active {
    border: 1px solid white;
    border-radius: var(--size-border-radius);
}

.container1 {
    width: 100%;
    height: 65px;
    box-shadow: 0 3px 10px gray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'BMHANNAPro';
    font-size:20px;
}

/* mail */

.mail {
    display: flex;
    justify-content: center;
    width : 1000px;
    position : relative;
    height : 100%;
    margin : 0 auto;
}

/* mail1 */
.mail1 {
   
   background-color : white;
    width:15%;
    height : 1000px;
}

.mail1-detail {
   padding-top : 130px;
   width : 90%;
   background-color : white;
   height : 300px;
}

.mail1-detail1 {
   width : 100%;
   height : 30px;
   background-color : red;
   font-size : 25px;
}
.mail1-detail2 {
   width : 100%;
   height : 25px;
   background-color : orange;
   font-size : 20px;
}
.mail1-detail3 {
   width : 100%;
   height : 200px;
   background-color : yellow ;
   font-size : 20px;
}

.mail1-detail4 {
   width : 100%;
   height : 25px;
   background-color : blue;
   font-size : 20px;
}

/* mail2 */

.mail2 { 
   background-color: white;
   height : 600px;
   width:85%;
   
}

.table {
   overflow-y:scroll;
}

.mail-send {
   height : 60px;
   width : 100%;
   display: inline-block;
}


.mail-button {
   height : 50px;
   width : 100%;
   background-color : red;
}

.mail-detail {
   background-color : white;
}

.mail-detail1 {
   height : 800px;
   background-color : white;
   
}

/* .mail-detail2 {
   height : 800px;
   width : 50%;
   background-color : blue;
} */

.detail2-button {
   width : 100%;
   height : 50px;
   background-color : orange;
}

.table1{
	overflow-y : scroll;
	height : 600px;
}
 
 