<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<mvc:annotation-driven />
    <context:component-scan base-package="controller,service,data"/>
	<mvc:default-servlet-handler />
	<mvc:view-controller path="/index" 	view-name="index" />
	<mvc:view-controller path="/board/writeForm" 	view-name="board/writeForm" />
 	<mvc:view-controller path="/member/joinForm"		view-name="member/joinForm" />
	
	<mvc:view-controller path="/member/loginForm"		view-name="member/loginForm" />
 	<mvc:view-controller path="/member/pictureimgForm"		view-name="single/pictureimgForm" />
 	<mvc:view-controller path="/member/passwordForm"		view-name="single/passwordForm" />
 	
 	
 	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/view/" />
		<property name="suffix" value=".jsp" />
	</bean>
	

    <mvc:resources mapping="/images/**" location="/WEB-INF/view/images/"
		cache-period="60" />
	
		
	<bean id="multipartResolver"
      class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/>	

	
<bean id="dataSource" 
   class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
   <property name="driverClass"><value>oracle.jdbc.OracleDriver</value></property>
   <property name="jdbcUrl"><value>jdbc:oracle:thin:@localhost:1521:xe</value></property>
   <property name="user"><value>kic</value></property>
   <property name="password"><value>1111</value></property>
   <property name="maxPoolSize"><value>20</value></property>    <!-- 최대 Connection객체 갯수 -->
   <property name="minPoolSize"><value>3</value></property>     <!-- 최소 Connection객체 갯수 -->
   <property name="initialPoolSize"><value>5</value></property> <!-- 초기 Connection객체 갯수 -->
   <property name="acquireIncrement"><value>5</value></property><!-- 증가 Connection객체 갯수 -->
</bean>
<bean  id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
  <property name="dataSource" ref="dataSource" />
  <property name="configLocation" value="/WEB-INF/mybatis-config.xml" />
</bean>
<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
  <constructor-arg  ref="sqlSessionFactory" />
</bean>
</beans>
