<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MemberLMapper">

	<insert id="insert" parameterType="memberl">
	insert into stf_tb(STF_ADMN, STF_DPT, STF_NM, STF_ID, STF_PW, 
			STF_PH, STF_CM_ADD, STF_DT_ADD, STF_BS_PH, STF_EML, STF_ENT, BIRTH) 
		values(#{STF_ADMN},#{STF_DPT},#{STF_NM},#{STF_ID},#{STF_PW},
			#{STF_PH},#{STF_CM_ADD},#{STF_DT_ADD},#{STF_BS_PH},#{STF_EML},#{STF_ENT},#{BIRTH})
	</insert>
</mapper>